
@font-face {
  font-family: SF-Black;
  src: url(../fonts/SFProDisplay-Black.ttf);
}

@font-face {
font-family: SF-Bold;
src: url(../fonts/SFProDisplay-Bold.ttf);
}

@font-face {
font-family: SF-Heavy;
src: url(../fonts/SFProDisplay-Heavy.ttf);
}

@font-face {
font-family: SF-Thin;
src: url(../fonts/SFProDisplay-Thin.ttf);
}

@font-face {
font-family: SF-Ultralight;
src: url(../fonts/SFProDisplay-Ultralight.ttf);
}

@font-face {
font-family: SF-Light;
src: url(../fonts/SFProDisplay-Light.ttf);
}

@font-face {
font-family: SF-Medium;
src: url(../fonts/SFProDisplay-Medium.ttf);
}

@font-face {
font-family: SF-Regular;
src: url(../fonts/SFProDisplay-Regular.ttf);
}

@font-face {
font-family: SF-Semibold;
src: url(../fonts/SFProDisplay-Semibold.ttf);
}

@font-face {
font-family: Inter-ExtraBold;
src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
font-family: Inter-SemiBold;
src: url(../fonts/Inter-SemiBold.ttf);
}

@font-face {
font-family: Inter-Bold;
src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
font-family: Inter-Regular;
src: url(../fonts/Inter-Regular.ttf);
}

